---

import ProfileLayout from "@layouts/ProfileLayout.astro"
import createSlug from "../../lib/createSlug"
import { Image } from "astro:assets";
---

<!-- <ProfileLayout title="A" sideBarActiveItemID="people" image = "" desig="">
  
 
   <b>Links: </b>: 

<div class="divider flex-grow max-w-[750px]"></div>

<article class="prose prose-lg max-w-[750px] prose-img:mx-auto"> -->
<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et arcu et mi feugiat mattis pellentesque vitae est. Praesent tempus, dolor id semper porta, mauris velit molestie orci, et vehicula turpis ipsum eu urna. Maecenas rhoncus sodales tortor. Nam eleifend pellentesque dolor, in euismod elit dictum sed. Proin rhoncus bibendum ex, non blandit ante commodo vel. Nunc vel ipsum tempor, hendrerit ligula in, pretium turpis. Maecenas mattis scelerisque est quis auctor. Aliquam erat volutpat. Ut aliquet dolor ut justo volutpat, eget semper lectus blandit. In aliquet ex at pulvinar vulputate. Sed posuere urna ac elit pharetra dictum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tempus lorem eros, quis accumsan risus vulputate sit amet. Duis volutpat lectus sit amet quam pulvinar, sit amet efficitur erat efficitur. Aliquam placerat metus eget sagittis gravida. Maecenas nec rutrum orci.

<p>Suspendisse imperdiet lorem in orci consequat vestibulum. Vestibulum elementum lectus eget metus lobortis, lacinia feugiat mi euismod. Pellentesque lectus odio, ultricies vel tortor nec, eleifend aliquam leo. Curabitur ultricies, tortor ut bibendum facilisis, libero sem finibus diam, ut fermentum eros dui in turpis. Pellentesque ut ultrices est. Aenean eu egestas turpis. Sed id ipsum in turpis rutrum sodales sit amet quis diam.</p>

  <p>Cras ac auctor ligula, sed commodo massa. Vivamus eu tincidunt turpis, eget viverra felis. Pellentesque sed quam iaculis, hendrerit est at, facilisis quam. Nunc in aliquet sapien. Nulla pretium lectus mi, in fermentum dolor semper eu. Nam ut dolor pretium, finibus urna eget, blandit tellus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

    <p>In dui risus, congue ac fringilla ut, varius a ex. Morbi pharetra ornare tellus, quis lacinia quam egestas in. Nunc vestibulum consequat neque ut iaculis. Ut gravida iaculis porttitor. Phasellus non ex diam. Sed tellus eros, maximus quis nibh a, lobortis tristique tortor. Sed dolor diam, semper id convallis quis, pretium vitae metus. Fusce bibendum, nisl ac egestas maximus, sem turpis hendrerit odio, et dictum elit leo dapibus nisi. Aliquam vel est neque. Vivamus velit arcu, malesuada eu varius id, hendrerit non elit. Donec tincidunt dui ac tellus tincidunt, ac rhoncus ligula condimentum. Donec id ligula vitae risus porttitor facilisis. In rhoncus, libero eu posuere pharetra, ex erat molestie est, luctus euismod enim lacus iaculis velit. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p> >

      <p>Pellentesque tempus ex velit, in egestas quam lacinia at. Integer vitae arcu feugiat, tempor lorem ac, accumsan metus. Quisque mattis elit sit amet venenatis vestibulum. Phasellus sed quam ut tellus consequat ultrices. Vivamus at sollicitudin orci, ut pharetra elit. Pellentesque vehicula, dolor bibendum mollis fringilla, ipsum turpis blandit neque, non blandit eros erat non diam. Nunc tempus velit quis tempor pulvinar. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p> -->

<!-- </article>
</ProfileLayout> -->

