---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "About Us" sideBarActiveItemID="about us">
  
    <div class="flex text-3xl w-full font-bold mb-5 justify-left">About Us</div>
  <div class="py-2">
<article class="prose prose-lg max-w-none">
<ol class="list-decimal">
  Kalpa, founded in 2007 as the annual students’ magazine of IISER Pune, now has its presence as the official students’ media body of the institute. This media body aims at facilitating in-house communication within the institute, a platform for campus journalism and a forum where the students can feel free to voice out their opinions.

  The campus journalism endeavour has its root in a newsletter called Sentience, which once used to be published by an independent group of students with aids from the student community and faculty members, and the 98 Acres section experimentally introduced into the 2019 issue of the Magazine. The newsletter and the 98 Acres section are also present on this website in an online form and will be operating throughout the year.
  
  Apart from this, it’s meant for serving as a forum where the seniors can share their academic experience with the juniors, and thus inspire them. In near future, we look forward to weaving a strong informal alumni network as well.

</article>

</BaseLayout>
