---
import BaseLayout from "@layouts/BaseLayout.astro";
---
<BaseLayout title = "Contact" sideBarActiveItemID="contacts">
    <div>
        <div class="flex justify-center text-4xl w-full font-bold mb-8">Contact</div>
      </div>
    <div class="card lg:card-side bg-base-100 shadow-xl">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3782.5833082210434!2d73.80512917589047!3d18.547723068342915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2bf17ef2b9121%3A0x2762361588654f27!2sMain%20Academic%20Building%2C%20IISER%20Pune!5e0!3m2!1sen!2sin!4v1721985575121!5m2!1sen!2sin" height=400 style="" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        <div class="card-body">


          

        <svg width="26px" height="26px" viewBox="0 -2.5 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" stroke="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>email</title> <desc>Email ID</desc> <defs> </defs> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Dribbble-Light-Preview" transform="translate(-340.000000, -922.000000)" fill="#c01c28"> <g id="icons" transform="translate(56.000000, 160.000000)"> <path d="M294,774.474 L284,765.649 L284,777 L304,777 L304,765.649 L294,774.474 Z M294.001,771.812 L284,762.981 L284,762 L304,762 L304,762.981 L294.001,771.812 Z" id="email-[#e01b24]"> </path> </g> </g> </g> </g></svg>
        <article class="prose mb-6">kalpa@sac.iiserpune.ac.in</article>

          <svg width="26px" height="26px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> <title>Address</title> <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M5 4C4.44772 4 4 4.44772 4 5V19C4 19.5523 4.44772 20 5 20H12H13C13.5523 20 14 19.5523 14 19V5C14 4.44772 13.5523 4 13 4H5ZM5 22H12H13H19C20.6569 22 22 20.6569 22 19V9C22 7.34315 20.6569 6 19 6H16V5C16 3.34315 14.6569 2 13 2H5C3.34315 2 2 3.34315 2 5V19C2 20.6569 3.34315 22 5 22ZM19 20H15.8293C15.9398 19.6872 16 19.3506 16 19V8H19C19.5523 8 20 8.44772 20 9V19C20 19.5523 19.5523 20 19 20ZM7 14H5V16H7V14ZM8 14H10V16H8V14ZM13 14H11V16H13V14ZM17 14H19V16H17V14ZM19 10H17V12H19V10ZM5 10H7V12H5V10ZM10 10H8V12H10V10ZM11 10H13V12H11V10ZM7 6H5V8H7V6ZM8 6H10V8H8V6ZM13 6H11V8H13V6Z" fill="#c01c28"></path> </g></svg>
          <article class="prose ">IISER Pune, Dr. Homi Bhabha Road, Pashan, Pune - 411008, India </article>

        </div>
      </div>
</BaseLayout>
