---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import HorizontalCardModal from "@components/HorizontalCardModal.astro";

---

<BaseLayout title = "People" sideBarActiveItemID="people">
  <div>
    <div class="text-5xl w-full font-bold mb-5">People</div>
  </div>
  <HorizontalCardModal
  title="Collins Assisi"
  img="/collins.webp"
  desc="Principal Investigator"
  url="#!"
  #badge="NEW"
/>
<div class="divider my-0 mb-5"></div>
<div class="text-3xl w-full font-bold mb-5">PhD Students</div>
  <!-- <div class="grid grid-cols-2 grid-flow-col-dense gap-6"> -->
  <div class="grid md:grid-cols-2 ">


  <!-- <HorizontalCard
    title="Inayath Shaikh"
    img="/post_img.webp"
    desc="PhD Student"
    url="#!"
  /> -->
  <HorizontalCardModal
  title="Inayath Shaikh"
  img="/post_img.webp"
  desc="PhD Student"
  info="<b>Project: </b>Biophysical mechanisms underlying grid cell activity and functioning"
  url="#!"
/>
<!-- <HorizontalCard
title="Sidharth Adithyan"
img="/sidharth.jpg"
desc="PhD Student"
url="#!"
/> -->

<HorizontalCardModal
title="Sidharth Adithyan"
img="/sidharth.webp"
desc="PhD Student"
url="#!"
/>

    <HorizontalCardModal
    title="Arkadeep Pal"
    img="/arkadeep.webp"
    desc="PhD Student"
    url="#!"
  />
    <HorizontalCardModal
    title="Jeevan Kumar Gochhayat"
    img="/jeevan.webp"
    desc="PhD Student"
    url=""
    target="_blank"
    info="<a href='https://www.researchgate.net/profile/Jeevan-Kumar-Gochhayat' target='_blank'>Research Gate</a>"
  />
  <!-- <div class="divider my-0"></div> -->
  <HorizontalCardModal
    title="Gourav Halder"
    img="/gourav.webp"
    desc="PhD Student"
    url="#!"
    #badge="FOSS"
  />
    <HorizontalCardModal
    title="Aiman Mushtaq"
    img="/aiman.webp"
    desc="PhD Student"
    url="#!"
    #badge="FOSS"
  />
</div>
<div class="divider my-0 mb-5"></div>
<div class="text-3xl w-full font-bold mb-5">Project Students</div>
  <div class="grid md:grid-cols-2">


  
  
  <HorizontalCardModal
    title="Srirang Nabar"
    img="/srirang.webp"
    desc="BS MS Student"
    url="#!"
  />
<!--div class="divider my-0 mb-5"></div>
<div class="text-3xl w-full font-bold mb-5">BS MS Project Students</div>
  <div class="grid md:grid-cols-2"> -->

  <HorizontalCardModal
  title="Divyansh Gupta"
  img="/divyansh.webp"
  desc="BS MS Student"
  url="#!"
  />
</div>

<!-- <div class="divider my-0 mb-5"></div>
<div class="text-3xl w-full font-bold mb-5">BS MS Project Students</div>
  <div class="grid md:grid-cols-2">


</div> -->
<div class="divider my-0 mb-5"></div>
<div class="text-3xl w-full font-bold mb-5">Alumni</div>
  <div class="grid md:grid-cols-2">
    <HorizontalCardModal
    title="TBA"
    img="/post_img.webp"
    desc=""
    url="#!"
  />

<!-- 
  
  
  <HorizontalCard
    title="Sandeep Chowdhary"
    img="/sandeep.jpg"
    desc="Fifth year BS-MS student"
    url="#!"
  />
    <HorizontalCard
    title="Shivik Garg"
    img="/shivik.jpg"
    desc="PhD student"
    url="#!"
  />
  <HorizontalCard
  title="Shruti Joshi"
  img="/shruti.jpg"
  desc="Project Assistant"
  url="#!"
/>
  <HorizontalCard
  title="Rishika Mohanta"
  img="/Rishika.png"
  desc="BS MS Student"
  url="#!"
/>
<HorizontalCard
title="Akshay Nair"
img="/akshay.jpg"
desc="Fifth year BSMS student"
url="#!"
/>
<HorizontalCard
title="Arun Neru"
img="/arun.jpg"
desc="PhD student"
url="#!"
/> -->



</div>


</BaseLayout>
