---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "publications" sideBarActiveItemID="publications">
  
    <div class="flex text-4xl w-full font-bold mb-5 justify-center">Publications</div>
  <div class="py-2">
<article class="prose prose-lg max-w-none">
<ol class="list-decimal">
<li>Arun Neru and Collins Assisi. Theta oscillations gate the transmission of reliable sequences in the medial entorhinal cortex. eNeuro (2021) (In Press)</li>

<li>    Rajagopalan A, Assisi C  Effect of Circuit Structure on Odor Representation in the Insect Olfactory System.  eNeuro (2020).</li>

<li>    Optimality of sparse olfactory representations is not affected by network plasticity C Assisi, M Stopfer, M Bazhenov PLOS Computational Biology 16 (2), e100746</li>

<li>    Sandeep Chowdhary and Collins Assisi. Excitatory-inhibitory balance maximizes the coding capacity of a network bioRxiv:673632 (2019)</li>
<li>    Saptarshi Soham Mohanta and Collins Assisi.  Parallel scalable simulations of biological neural networks using TensorFlow: A beginner's guide. arXiv:1906.03958 (2019)</li>

<li>    Jen-Yung Chen, Emiliano Marachlian, Collins Assisi, Ramon Huerta, Brian H Smith, Fernando Locatelli, Maxim Bazhenov. Learning modifies odor mixture processing to improve detection of relevant components.  The Journal of Neuroscience, 2015, 35 (1) 179-197</li>

<li>    Collins Assisi, Mark Stopfer and Maxim Bazhenov.   Excitatory local interneurons enhance tuning of sensory information. PLOS Computational Biology, 2012 July 8(7)</li>

<li>    Collins Assisi and Maxim Bazhenov.  Synaptic inhibition controls transient oscillatory synchronization in a model of the insect olfactory system, Frontiers in Neuroengineering, 2012 April 5(7)</li>

<li>    Collins Assisi, Mark Stopfer and Maxim Bazhenov.   Using the structure of inhibitory networks to unravel mechanisms of spatiotemporal patterning. Neuron, 2011 69, 373–386</li>
<li>    Arpan Banerjee, Emmanuelle Tognoli, Collins Assisi, J. A. Scott Kelso, and Viktor K. Jirsa.   Mode level cognitive subtraction (MLCS) quantifies spatiotemporal reorganization in large-scale brain topographies. NeuroImage, 2008  42(2):663-74</li>

<li>    Collins Assisi, Mark Stopfer, Gilles Laurent, Maxim Bazhenov.   Adaptive regulation of sparseness by feedforward inhibition.  Nature Neurosci, 2007, Sep;10(9):1176-84</li>

<li>    Mukeshwar Dhamala, Collins Assisi, Viktor K. Jirsa, Fred Steinberg, J. A. Scott Kelso.    Multisensory integration for timing engages different brain networks Neuroimage 34, 764-773 (2007)</li>

<li>    Collins Assisi, Viktor Jirsa, J. A. Scott Kelso.   Dynamics of multifrequency coordination using parametric driving: Theory and Experiment, Biological Cybernetics,   93, 6-21 (2005)</li>

<li>    Collins Assisi, Viktor Jirsa, J. A. Scott Kelso.   Synchrony and clustering in heterogeneous networks with global coupling and parameter dispersion. Phys. Rev. Lett. 94, 018106 (2005).</li>
</ol>



</article>
</BaseLayout>
