---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Training" sideBarActiveItemID="training">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Training Opportunities</div>
  </div>
<article class="prose prose-lg">
<text>Students seeking semester long and summer internships in the lab should apply through the IISER Pune summer student program or through the Indian Academy of Sciences (IASc) summer program.  Other opportunities at IISER Pune are listed on our website (see this <a href="https://www.iiserpune.ac.in/" target="_blank">link</a>). 

Students interested in joining the lab for a PhD should apply through the Biology PhD program  conducted by the Biology department at IISER Pune.  Given our research, I am particularly keen on recruiting students with a quantitative background (Physics, Mathematics and Engineering).  See the poster below listing Neurobiology labs at IISER Pune that are looking to recruit students this year.
</text></article>

</BaseLayout>
