---
const today = new Date();
import { Image } from "astro:assets";

---


<footer class="footer footer-center block mb-5 pt-10 mt-10">
  <div class="flex items-center justify-center pb-1">
    <div class="divider flex-grow lg:max-w-[625px] max-w-[70vw]"></div>
</div>
  <div class="flex py-2 flex-wrap justify-center gap-6">
    <div class="flex-initial">
      
    </div>
   <!--- <div class="flex-initial">
      <a href="https://www.indiaalliance.org/" target="_blank">
      <Image
      src="/DBT-IA.png"
      width={128}
      height={64}
      format="webp"
      alt="dbt-ia"
      class=""
    />
  </a>
  </div>
    <div class="flex-initial">
      <a href="https://www.serbonline.in/SERB/HomePage" target="_blank">
      <Image
      src="/serb.png"
      width={128}
      height={64}
      format="webp"
      alt="serb"
      class=""
    />
    </a>
    </div>
  <div class="flex-initial">
    <a href="https://www.simonsfoundation.org/" target="_blank">
    <Image
    src="/simons_found.png"
    width={128}
    height={64}
    format="webp"
    alt="simons foundation"
    class=""
  />
  </a>
</div>



<div class="flex-initial">
  <a href="https://cbr.iisc.ac.in/research/emstar/" target="_blank">
<text class="text-zinc-800 text-lg font-bold">Pratiksha Trust </br>EMSTAR</text></a>
</div>
  </div> -->
  <div class="inline opacity-75 pb-3">
    IISER, Dr. Homi Bhabha Road, Pashan, Pune : 411008, INDIA <br>
  </div>
  <!-- <div class="grid grid-cols-2 "> -->
    <!-- <div class="pt-2 justify-self-start">
    &copy; {today.getFullYear()} Collins Assisi
  </div> -->
  <!-- <div class="flex justify-end pt-2 pr-3"> -->

  <div class="divider my-1 mb-5"></div>
  
  <div class=" inline opacity-75 pb-3">
  <ul>Developed using <a href="https://github.com/manuelernestog/astrofy" target="_blank" class="font-bold">Astrofy</a> </ul>
  </div> 
  <!-- </div> -->
  <!-- </div> -->
</footer>
<style></style>