---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="inline opacity-75 pb-3">
    IISER, Dr. Homi Bhabha Road, Pashan, Pune : 411008, INDIA | Tel No. : +91 (20) 25908000 <br>
  </div>
  <!-- <div class="grid grid-cols-2 "> -->
    <!-- <div class="pt-2 justify-self-start">
    &copy; {today.getFullYear()} Collins Assisi
  </div> -->
  <!-- <div class="flex justify-end pt-2 pr-3"> -->
  <div class=" inline opacity-75 pr-2 pt-4 justify-self-end">
  Developed using <a href="https://github.com/manuelernestog/astrofy" target="_blank" class="font-bold">Astrofy</a>
  </div>
  <!-- </div> -->
  <!-- </div> -->
</footer>
<style></style>
