---
const today = new Date();
import { Image } from "astro:assets";

---


<footer class="footer footer-center block mb-5 pt-10">
  

  <div class="flex py-2 flex-wrap justify-center gap-6">
    <div class="flex-initial">
      <text class="text-lg font-bold pr-3">Funded By: </text>
    </div>
    <div class="flex-initial">
      <Image
      src="/DBT-IA.png"
      width={128}
      height={64}
      format="webp"
      alt="dbt-ia"
      class=""
    />
  </div>
    <div class="flex-initial">
      <Image
      src="/serb.png"
      width={128}
      height={64}
      format="webp"
      alt="serb"
      class=""
    />
    </div>
  <div class="flex-initial">
    <Image
    src="/simons_found.png"
    width={128}
    height={64}
    format="webp"
    alt="simons foundation"
    class=""
  />
</div>



<div class="flex-initial">
<text class="text-md font-bold">Pratiksha Trust </br>EMSTAR</text>
</div>
  </div>
  <div class="inline opacity-75 pb-3">
    IISER, Dr. Homi Bhabha Road, Pashan, Pune : 411008, INDIA | Tel No. : +91 (20) 25908000 <br>
  </div>
  <!-- <div class="grid grid-cols-2 "> -->
    <!-- <div class="pt-2 justify-self-start">
    &copy; {today.getFullYear()} Collins Assisi
  </div> -->
  <!-- <div class="flex justify-end pt-2 pr-3"> -->
  <div class=" inline opacity-75 pr-2 pt-4 justify-self-end">
  Developed using <a href="https://github.com/manuelernestog/astrofy" target="_blank" class="font-bold">Astrofy</a>
  </div>
  <!-- </div> -->
  <!-- </div> -->
</footer>
<style></style>
