---
import SideBarFooter from "./SideBarFooter.astro";
import { Image } from "astro:assets";
import SideBarMenu from "./SideBarMenu.astro";

const { sideBarActiveItemID } = Astro.props;

---

<div class="drawer-side z-40">
  <label for="my-drawer" class="drawer-overlay"></label>
  <aside class="px-2 pt-2 h-auto min-h-full w-[19rem] bg-base-200 text-base-content flex flex-col">
    <div class="w-fit mx-auto mt-5 mb-2 px-1">
      <a href="/" class="relative inline-block text-md group">
        <span class="relative z-10 block px-5 py-3 overflow-hidden font-medium leading-tight text-gray-800 rounded-md transition-colors duration-300 ease-out border-2 border-gray-900 " >
        <span class="absolute inset-0 w-full h-full px-5 py-3 bg-[#dbdbdb] "></span>
        <!-- <span class="absolute left-0 w-110 h-48 -ml-2 transition-all duration-300 origin-top-right -rotate-90 -translate-x-full translate-y-12 bg-gray-900 group-hover:-rotate-180 ease"></span> -->
        <span class="relative ">Kalpa IISER Pune</span>
        </span>
        <span class="absolute bottom-0 right-0 w-full h-12 -mb-1 -mr-1 transition-all duration-120 ease-linear bg-gray-900 rounded-md group-hover:mb-0 group-hover:mr-0" data-rounded="rounded-lg"></span>
        </a>
      </div>

    <!-- <div class="w-fit mx-auto mt-5 mb-6">
      <a href="/">
        <div class="avatar transition ease-in-out hover:scale-[102%] block m-auto">
          <div class="w-[10.5rem]">
            <Image class="mask mask-circle" format="png" width={300} height={300} src="" alt="" />
            
          </div>
          
        </div>
        
      </a>
    </div> -->
    
    <SideBarMenu sideBarActiveItemID={sideBarActiveItemID} />
   
    <div class="w-fit mx-auto mt-5 mb-6">
      
      <a href="/">
        <div class="avatar transition ease-in-out hover:scale-[102%] block m-auto">
          <div class="w-[8.5rem]">
            <a href="" target="_blank">
            <Image format="png" width={300} height={300} src="/kalpalogo.png" alt="Kalpa logo" />
          </a>
          </div>
          
        </div>
        
      </a>
    </div>
    
    <SideBarFooter />
  </aside>
</div>
